@*@model DoctorOnCall.ViewModel.Patient.PatientViewModel
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<body style="background:#f2eef0">
    <section class="container-fluid">
        <div class="row">
            <div class="col-lg-4" style="background-color:white;padding :50px 0px 0px 60px">
                <img src="~/Photos/avatar2.jpg" />
                <h2>Model</h2>
                <hr />
            </div>


            <div class="col-lg-8">
                <div style="background:white">
                    <p>Home/User DashBoard</p>
                    <h1>Book Appointment</h1>

                </div>

                <div class="row" style="background:white;margin-top:10px">
                    <div class="col-lg-2">
                        <img src="~/Photos/avatar2.jpg" style="object-fit:cover;width:100%;height:auto;padding-top:20px" />
                    </div>
                    <div class="col-lg-2">
                        <h4><small><b>ModelPatientName</b></small> </h4>
                        <p><span class="bg-danger b">ModelStatus</span></p>
                        <p>Book Appointment</p>
                    </div>
                    <div class="col-lg-8 text-right">
                        <h2>Model.DateTime</h2>
                        <h4>Model.DateTime</h4>
                    </div>
                </div>
                <div class="row" style="background:white;margin-top:10px">
                    <div class="col-lg-2">
                        <img src="~/Photos/avatar2.jpg" style="object-fit:cover;width:100%;height:auto;padding-top:20px" />
                    </div>
                    <div class="col-lg-2">
                        <h4><small><b>Shahid Hussain</b></small> </h4>
                        <p><span class="bg-danger b">Canceled</span></p>
                        <p>Book Appointment</p>
                    </div>
                    <div class="col-lg-8 text-right">
                        <h2>8:00 AM</h2>
                        <h4>4 March 2019</h4>
                    </div>
                </div>
                <div class="row" style="background:white;margin-top:10px">
                    <div class="col-lg-2">
                        <img src="~/Photos/avatar2.jpg" style="object-fit:cover;width:100%;height:auto;padding-top:20px" />
                    </div>
                    <div class="col-lg-2">
                        <h4><small><b>Shahid Hussain</b></small> </h4>
                        <p><span class="bg-danger b">Canceled</span></p>
                        <p>Book Appointment</p>
                    </div>
                    <div class="col-lg-8 text-right">
                        <h2>8:00 AM</h2>
                        <h4>4 March 2019</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
</body>*@
