@*@model DoctorOnCall.ViewModel.Appointments.AppointmentCreateViewModel*@
@{
    ViewBag.Title = "Appointmentetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container" style="background:white">
    <div>
        <h1>Appointment Details</h1>
        <p>Home/User DashBoard/Appointment Details</p>

    </div>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <h3>Name</h3>
            <p>Model.Doctor.Name</p>
            <h3>Timings: </h3>
            <p>8:00 AM</p>
            <h3>Location :</h3>
            <p>Vedio Consultation :</p>
            <h3>Contact Doctor </h3>
            <p>03441085324</p>

        </div>
        <div class="col-lg-6">
            <h3>Appointment Status :</h3>
            <p><span class="badge bg-success">InProcess</span></p>
            <h3>Doctor Name :</h3>
            <p>Shahid</p>
            <h3>Doctor Fee :</h3>
            <p>1500/-</p>
        </div>
    </div>
</section>
<br />
<br />

