
@{
    ViewBag.Title = "CallForAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container"style="background:#d8d1d1">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" style="background:white">
                    <h3>Call For Appointment</h3>
                    <h2 class="text-center">0300-1234567</h2>
                    <h2 class="text-center">042-1234567</h2>
                    <h4 class="text-center">Timing (9:00 am to 9:00 pm)</h4>
            </div>
        </div>
      
    </div>